In [45]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [46]:
bankdata= pd.read_csv(r"C:\Sansys UK\DataSceince\Datascience Training\Oct2021\W4_1 Nov 2021\W4_Tuesday 2 Nov 2021\Universalbank.csv")

In [47]:
bankdata.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [48]:
bankdata.tail()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [49]:
bankdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [51]:
CreditCard_count = bankdata.CreditCard.value_counts()
print('Class 0:', CreditCard_count[0])
print('Class 1:', CreditCard_count[1])
print('Proportion:', round(CreditCard_count[0] / CreditCard_count[1], 2), ': 1')

Class 0: 3530
Class 1: 1470
Proportion: 2.4 : 1

In [22]:
# Class count of target variable

count_class_0, count_class_1 = bankdata.CreditCard.value_counts()
print(count_class_0)
print(count_class_1)

3530
1470

In [23]:
# Divide bank data by class

bankdata_class_0 = bankdata[bankdata['CreditCard'] == 0]
bankdata_class_1 = bankdata[bankdata['CreditCard'] == 1]
print(bankdata_class_0.shape)
print(bankdata_class_1.shape)

(3530, 14)
(1470, 14)

In [24]:
#Random Under-sampling

In [25]:
# Sample data of major class '0'

bankdata_class_0_under = bankdata_class_0.sample(count_class_1)

In [26]:
# Concat the sample data of  major class '0' dataset with 100% minor class data

bankdata_under = pd.concat([bankdata_class_0_under, bankdata_class_1], axis=0)
print(bankdata_under.shape)

(2940, 14)

In [27]:
#Random Over-Sampling

In [28]:
# copies of minor class '1' 

bankdata_class_1_over = bankdata_class_1.sample(count_class_0, replace=True)

In [29]:
# Concat the 100% of major class '0' dataset with copies of minor class data

bankdata_over = pd.concat([bankdata_class_0, bankdata_class_1_over], axis=0)
print(bankdata_over.shape)

(7060, 14)

In [34]:
# Import necessary packages

from sklearn.metrics import confusion_matrix  
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report 
from sklearn.metrics import roc_auc_score

In [35]:
# Identify the independent and Depentent (target) variables

x = bankdata.iloc[:,:-1]   # independent variables
y = bankdata.iloc[:,-1]    # dependent (target) variable

In [36]:
# Splitting the dataset into train and test 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [37]:
# to build the decision tree model

bankdc = DecisionTreeClassifier()
bankdc = bankdc.fit(x_train,y_train)

In [38]:
#To display the algorithm parameters
params = bankdc.get_params()
print(params)

{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_impurity_split': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'presort': 'deprecated', 'random_state': None, 'splitter': 'best'}

In [39]:
#Predict the DC model with test data

y_pred = bankdc.predict(x_test)

In [40]:
# Confusion matrix & Classification Report

print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[755 318]
 [254 173]]
              precision    recall  f1-score   support

           0       0.75      0.70      0.73      1073
           1       0.35      0.41      0.38       427

    accuracy                           0.62      1500
   macro avg       0.55      0.55      0.55      1500
weighted avg       0.64      0.62      0.63      1500

In [41]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

# Model Precision: what percentage of positive tuples are labeled as such?
print("Precision:",metrics.precision_score(y_test,y_pred))

# Model Recall: what percentage of positive tuples are labelled as such?
print("Recall:",metrics.recall_score(y_test,y_pred))

# Model Recall: what percentage of positive tuples are labelled as such?
print("f1-score:",metrics.f1_score(y_test,y_pred))

Accuracy: 0.6186666666666667
Precision: 0.35234215885947046
Recall: 0.405152224824356
f1-score: 0.3769063180827887

In [49]:
# Area under ROC curve

print('ROCAUC score:',roc_auc_score(y_test,y_pred))

ROCAUC score: 0.5534614805389254

In [51]:
bankdata_over.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0

In [52]:
bankdata_over.tail()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
1499,1500,52,26,91,92173,1,4.3,2,0,1,0,1,1,1
153,154,60,36,22,94551,2,1.0,1,0,0,1,1,1,1
2717,2718,23,-2,45,95422,4,0.6,2,0,0,0,0,1,1
2072,2073,29,3,39,95831,4,0.2,1,137,0,0,0,1,1
4815,4816,58,32,99,92697,2,1.4,1,0,0,0,0,0,1

In [62]:
bankdata_over.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7060 entries, 0 to 4815
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  7060 non-null   int64
 1   Age                 7060 non-null   int64
 2   Experience          7060 non-null   int64
 3   Income              7060 non-null   int64
 4   ZIP Code            7060 non-null   int64
 5   Family              7060 non-null   int64
 6   CCAvg               7060 non-null   float64
 7   Education           7060 non-null   int64
 8   Mortgage            7060 non-null   int64
 9   Personal Loan       7060 non-null   int64
 10  Securities Account  7060 non-null   int64
 11  CD Account          7060 non-null   int64
 12  Online              7060 non-null   int64
 13  CreditCard          7060 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 827.3 KB

In [63]:
#Identify the independent and Dependent (target) variables

xo = bankdata_over.iloc[:,:-1]
yo = bankdata_over.iloc[:,-1]

In [55]:
# Splitting the dataset into train and test 

xo_train, xo_test, yo_train, yo_test = train_test_split(xo, yo, test_size = 0.3, random_state = 42)

In [56]:
# to build the decision tree model

bankdco = DecisionTreeClassifier()
bankdco = bankdco.fit(xo_train,yo_train)

In [57]:
#To display the algorithm parameters
params = bankdco.get_params()
print(params)

{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_impurity_split': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'presort': 'deprecated', 'random_state': None, 'splitter': 'best'}

In [58]:
#Predict the DC model with test data

yo_pred = bankdco.predict(xo_test)

In [59]:
# Confusion matrix & Classification Report

print(confusion_matrix(yo_test, yo_pred))
print(classification_report(yo_test, yo_pred))

[[771 293]
 [132 922]]
              precision    recall  f1-score   support

           0       0.85      0.72      0.78      1064
           1       0.76      0.87      0.81      1054

    accuracy                           0.80      2118
   macro avg       0.81      0.80      0.80      2118
weighted avg       0.81      0.80      0.80      2118

In [60]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(yo_test, yo_pred))

# Model Precision: what percentage of positive tuples are labeled as such?
print("Precision:",metrics.precision_score(yo_test, yo_pred))

# Model Recall: what percentage of positive tuples are labelled as such?
print("Recall:",metrics.recall_score(yo_test, yo_pred))

# Model Recall: what percentage of positive tuples are labelled as such?
print("f1-score:",metrics.f1_score(yo_test, yo_pred))

Accuracy: 0.7993389990557129
Precision: 0.7588477366255144
Recall: 0.8747628083491461
f1-score: 0.8126928162185985

In [61]:
# Area under ROC curve

print('ROCAUC score:',roc_auc_score(yo_test, yo_pred))

ROCAUC score: 0.799693434249761

In [175]:
bankdata_under.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
4775,4776,44,14,33,94063,1,0.75,3,171,0,0,0,0,0
887,888,41,16,118,94720,2,3.30,1,0,0,0,0,1,0
3454,3455,47,21,132,92120,1,0.30,1,0,0,0,0,1,0
953,954,51,26,28,92130,4,0.20,2,0,0,1,0,1,0
2414,2415,34,10,134,91775,1,4.00,1,0,0,0,0,0,0

In [176]:
bankdata_under.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
4775,4776,44,14,33,94063,1,0.75,3,171,0,0,0,0,0
887,888,41,16,118,94720,2,3.30,1,0,0,0,0,1,0
3454,3455,47,21,132,92120,1,0.30,1,0,0,0,0,1,0
953,954,51,26,28,92130,4,0.20,2,0,0,1,0,1,0
2414,2415,34,10,134,91775,1,4.00,1,0,0,0,0,0,0

In [177]:
bankdata_under.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2940 entries, 4775 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2940 non-null   int64
 1   Age                 2940 non-null   int64
 2   Experience          2940 non-null   int64
 3   Income              2940 non-null   int64
 4   ZIP Code            2940 non-null   int64
 5   Family              2940 non-null   int64
 6   CCAvg               2940 non-null   float64
 7   Education           2940 non-null   int64
 8   Mortgage            2940 non-null   int64
 9   Personal Loan       2940 non-null   int64
 10  Securities Account  2940 non-null   int64
 11  CD Account          2940 non-null   int64
 12  Online              2940 non-null   int64
 13  CreditCard          2940 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 344.5 KB

In [178]:
#Identify the independent and Dependent (target) variables

xu = bankdata_under.iloc[:,:-1]
yu = bankdata_under.iloc[:,-1]

In [179]:
# Splitting the dataset into train and test 

xu_train, xu_test, yu_train, yu_test = train_test_split(xu, yu, test_size = 0.3, random_state = 42)

In [180]:
# to build the decision tree model

bankdcu = DecisionTreeClassifier()
bankdcu = bankdcu.fit(xu_train,yu_train)

In [181]:
#To display the algorithm parameters
params = bankdcu.get_params()
print(params)

{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_impurity_split': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'presort': 'deprecated', 'random_state': None, 'splitter': 'best'}

In [182]:
#Predict the DC model with test data

yu_pred = bankdcu.predict(xu_test)

In [183]:
# Confusion matrix & Classification Report

print(confusion_matrix(yu_test, yu_pred))
print(classification_report(yu_test, yu_pred))

[[231 215]
 [195 241]]
              precision    recall  f1-score   support

           0       0.54      0.52      0.53       446
           1       0.53      0.55      0.54       436

    accuracy                           0.54       882
   macro avg       0.54      0.54      0.54       882
weighted avg       0.54      0.54      0.54       882

In [184]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(yu_test, yu_pred))

# Model Precision: what percentage of positive tuples are labeled as such?
print("Precision:",metrics.precision_score(yu_test, yu_pred))

# Model Recall: what percentage of positive tuples are labelled as such?
print("Recall:",metrics.recall_score(yu_test, yu_pred))

# Model Recall: what percentage of positive tuples are labelled as such?
print("f1-score:",metrics.f1_score(yu_test, yu_pred))

Accuracy: 0.5351473922902494
Precision: 0.5285087719298246
Recall: 0.5527522935779816
f1-score: 0.5403587443946187

In [185]:
# Area under ROC curve

print('ROCAUC score:',roc_auc_score(yu_test, yu_pred))

ROCAUC score: 0.5353447566544617